.bg-earning-nstitute {
    background-color: #F4FAFD;
}

.redy-to-join-bg-color {
    background-color: #289BDE;
}

.minimised {
    margin-left: 15%;
    margin-right: 15%;
}

@media only screen and (max-width: 991px) {
    .brand {
        display: none;
    }
}